
.mediaelement {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size:13px;
	white-space: normal;
	line-height:100%;
	position:relative; top:0px; left:0px;
	z-index:7;
}
.annotorious-popup-text .mediaelement, .current_annotation .mediaelement { z-index: auto; }

.mediaContainer {
	background-color: #e5e5e5;
	border-top: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
	z-index:7;
	background-position: center center;
	background-repeat: no-repeat;
}

.mediaContainer iframe {
	background-color: #fff;
	border: 1px solid #cbcbcb;
}

.annotationToggle {
	display:block;
}

.mediaContainerAutoWidth {
	position:absolute;
	left:0px;
	top:30px;  /* header */
	right:250px; /* sidebar */
	bottom:0px;
}

.mediaObject { z-index:7; }
.annotorious-popup-text .mediaObject, .current_annotation .mediaObject { z-index: auto; }

.note_viewer .mediaelement{
	margin: 0px;
}
.mediaelement .annotorious-popup{
	top: 0;
	left: 0;
	width: 320px;
}
.annotorious-popup { text-align: left; }
.media_annotations .current .media_link{
	background-color: #e2eaef;
}

.media_annotations .full, .note_viewer .full, .annotorious-popup-text .full, .current_annotation .full { margin-top: 2rem; }
.media_annotations .paragraph_wrapper, .note_viewer .paragraph_wrapper { margin-bottom: 1.2rem; }

.mediaelement pre { border: 1px solid #cbcbcb; }
.mediaelement pre, .mediaelement code { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 100%; line-height: 100%; }

.loadingMessage {
	padding:20px;
	color:#666;
}

.mediaElementHeader {
	/*padding: 0px 7px 0px 7px;*/
	height: 28px;
	overflow:hidden;
	line-height: 28px;
}

.mediaElementHeader p {                  /* block DOM element's top margin is usually ignored when at the top of a div */
	margin:0;
}

.mediaElementFooter {
	height:26px;
	clear:both;
	font-size:10px;
	line-height:26px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
}

.mediaElementFooter p {
	margin:0;
	padding: 0px 4px 0px 7px;
}

.mediaElementAnnotationFooter {
	clear:both;
	background-color:#aaa;
	padding:10px;
	display:none;
}

.mediaElementAnnotationSidebar {
	width:250px;
	float:left;
	display:none;
	font-size: 12px;
	text-align:left;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #e5e5e5;
	border-top: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
	/*border-right: 1px solid #e5e5e5;*/
}

.mediaElementAlignLeft {
	float:left;
	text-align:left;
	width:100%;
	overflow:hidden;
}
.mediaElementAlignLeftDetails {
	width:45% !important;
}

.mediaElementAlignRight {
	font-size:10px;
	text-align:right;
	white-space:nowrap;
}
.mediaElementAlignRightDetails {
	/*width:45%;	*/
}
.mediaElementAlignRight #viewPageLink {
	display:none;
}

.mediaelement_warning {
	position: relative;
	padding-right: 8px;
	left: 10px;
	top: 10px;
	color: #888;
}

/* Top tab bar */
/* Added by Craig for use in maxmized view */

.mediaElementHeaderWithNavBar {
	background:#c8c8c8; padding-left:0px; padding-right:0px; height:30px;
}
.mediaElementHeader .nav_bar_options {
	float:left; list-style-type:none; margin:0; padding:0; background:#c8c8c8;
	font-size:10px; font-weight: bold;
}
.mediaElementHeader .nav_bar_options li {
	display:inline; margin:0px 3px 0px 3px; padding:4px 9px 5px 9px; cursor:pointer; line-height: 18px;
}
.mediaElementHeader .nav_bar_options li.disabled {
	 color:#999999; background:white;
}
.mediaElementHeader .nav_bar_options li.sel {
	background:#717171; color:white;
}
.mediaElementHeader .nav_bar_options .downArrow {
	padding-bottom: .5px;
}

/*.mediaContainerWithNavBar { background-color: #000; }*/

/* Other sidebar areas (works with Navigation bar) */
/* Added by Craig for use in maxmized view */

.annotationSidebarWithNavBar { width:250px; }

.mediaElementSidebarDesc {padding:10px 10px 20px 10px;}
.mediaElementSidebarDesc .desc_title {font-weight:bold; margin-bottom:20px;}

.mediaElementSidebarMeta {padding:10px 10px 20px 10px; display:none; }
.mediaElementSidebarMeta > table td {padding:0px 0px 0px 0px; font-size:10px; text-align:left;}
.mediaElementSidebarMeta > table td.value {padding-top:4px; padding-bottom:16px; word-wrap: break-word;}
.mediaElementSidebarMeta > table td.value ul {list-style-type:none; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
.mediaElementSidebarMeta > table td.value li {margin-bottom:3px; margin-top:3px;}

.posterFrame {
	background: #444;
	z-index: 8;
	position: absolute;
	overflow: hidden;
}

/* Annotations */

.annotationDisplay {
	clear:both;
	height:26px;
	background-color:#5c7586;
	overflow:hidden;
	position:absolute;
	text-align:left;
	color:#fff;
	margin-top: -26px;
}

.annotationDisplay p {
	padding: 0px 4px 0px 7px;
}

.annotationChip {
	padding:10px;
	cursor: pointer;
	line-height: 140%;
}

.annotationChip.light {
	background-color: #eee;
}

.annotationChip.dark {
	/*background-color: #eee;*/
}

.annotationChip:hover {
	background-color: #ccc;
}


.selectedAnnotation {
	background-color:#a5c0d2 !important;
}

.annotationExtents {
	margin-bottom:5px;
	font-size: 10px;
}

.annotationTitle {
	margin-bottom:3px;
}

.download_link {
	text-align: center;
	margin-top: 50px;
	display: none;
}

/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.happyworm.com/jquery/jplayer
 *
 * Skin Name: Blue Monday
 *
 * Copyright (c) 2010 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 *
 * Author: Silvia Benvenuti
 * Skin Version: 3.0 (jPlayer 2.0.0)
 * Date: 20th December 2010

 see other versions

*/
